[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
discord-pretty-help = "*"
cchardet = "*"
aiodns = "*"
aiohttp = "*"
pony = "*"
discordutils = "*"
"discord.py" = {git = "https://github.com/iDevision/enhanced-discord.py"}

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.9"
