[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
enhanced-dpy = "*"
requests = "*"
discord-pretty-help = "*"
cchardet = "*"
aiodns = "*"
aiohttp = "*"
pony = "*"
discordutils = "*"
asyncio = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
